*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: "Poppins", sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#667eea,#764ba2);
}

/* container */

.timer-container{
background:rgba(255,255,255,0.1);
backdrop-filter:blur(10px);
padding:40px;
border-radius:15px;
text-align:center;
color:white;
width:320px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

/* input */

#inputTime{
width:100%;
padding:10px;
border:none;
border-radius:8px;
margin-top:15px;
margin-bottom:25px;
outline:none;
font-size:16px;
}

/* circle */

.circle{
position:relative;
width:180px;
height:180px;
margin:auto;
}

svg{
width:180px;
height:180px;
transform:rotate(-90deg);
}

circle{
fill:none;
stroke-width:10;
stroke:#eee;
}

#progress{
stroke:#ff7eb3;
stroke-linecap:round;
stroke-dasharray:502;
stroke-dashoffset:502;
transition:stroke-dashoffset 1s linear;
}

#display{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
font-size:32px;
font-weight:bold;
}

/* buttons */

.buttons{
margin-top:25px;
display:flex;
justify-content:center;
gap:10px;
flex-wrap:wrap;
}

button{
padding:10px 18px;
border:none;
border-radius:8px;
background:linear-gradient(45deg,#ff7eb3,#ff758c);
color:white;
cursor:pointer;
font-size:14px;
transition:0.3s;
}

button:hover{
transform:scale(1.1);
box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

/* responsive */

@media (max-width:480px){

.timer-container{
width:90%;
padding:30px;
}

.circle{
width:150px;
height:150px;
}

svg{
width:150px;
height:150px;
}

#display{
font-size:26px;
}

}